html, body {
  font-family: roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  background: #FFD54F;
}

.button {
  cursor: pointer;
  padding: 0.6rem;
  background: #fff;
  color: #424242;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 	transition: box-shadow 500ms; 
}

.button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.button:active {
  box-shadow: none;
}

input {
  border: 1px solid;
  padding: 0.2rem;
}

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.blur:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#header {
  background: #fff;
  padding: 0.8rem;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#header p {
  display: inline;
  margin: 0px;
  margin-right: 10px;
  font-size: 1.1rem;
}

#cardContainer {
  width: max-content;
  margin: auto;
  margin-top: 20px;
}

.card {
  display: inline-block;
  width: 40px;
  height: 60px;
  margin: 0 3px;
  border: 1px solid #fff;
}

.card.filled {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#leaderBoard {
  padding: 20px;
}

#leaderBoard p {
  color: #fff;
  font-size: 2rem;
  margin-top: 0;
}

#footer {
  padding: 0.8rem;
  width: max-content;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#footer button {
  margin: 0 2.5px;
}

.popup {
  padding: 20px;
  background: #fff;
  width: max-content;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#raiseContainer form {
  margin-bottom: 0;
}

#raiseContainer input {
  height: 2rem;
}

#raiseContainer label {
  display: block;
  margin-bottom: 1rem;
}